* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
